/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0-windows/CrossesAndNoughts.AssemblyInfo.cs
/obj/Debug/net8.0-windows/CrossesAndNoughts.AssemblyInfoInputs.cache
/obj/Debug/net8.0-windows/CrossesAndNoughts.assets.cache
/obj/Debug/net8.0-windows/CrossesAndNoughts.csproj.AssemblyReference.cache
/obj/Debug/net8.0-windows/CrossesAndNoughts.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/CrossesAndNoughts.sourcelink.json
/obj/Debug/net6.0-windows/CrossesAndNoughts_4fodjhuz_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/CrossesAndNoughts_4fodjhuz_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/CrossesAndNoughts_4fodjhuz_wpftmp.assets.cache
/obj/Debug/net6.0-windows/CrossesAndNoughts_4fodjhuz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/CrossesAndNoughts_4fodjhuz_wpftmp.sourcelink.json
/obj/Debug/net6.0-windows/CrossesAndNoughts_5zvo1yty_wpftmp.AssemblyInfo.cs
/obj/Debug/net6.0-windows/CrossesAndNoughts_5zvo1yty_wpftmp.AssemblyInfoInputs.cache
/obj/Debug/net6.0-windows/CrossesAndNoughts_5zvo1yty_wpftmp.assets.cache
/obj/Debug/net6.0-windows/CrossesAndNoughts_5zvo1yty_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0-windows/CrossesAndNoughts_5zvo1yty_wpftmp.sourcelink.json
/obj/Debug/net8.0-windows/CrossesAndNoughts_MarkupCompile.cache
/obj/Debug/net8.0-windows/CrossesAndNoughts_MarkupCompile.lref
/obj/Debug/net8.0-windows/View/GameWindow.g.cs
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/obj/Debug/net8.0-windows/View/StartWindow.g.cs
